{% extends "base.html" %}
{% block content %}
<div class="grid grid-cols-[15%_60%_15%] h-screen">
  <aside class="border-r border-[#e5e3df] p-4 overflow-y-auto">
    {% include "workspace/_sidebar_left.html" %}
  </aside>
  <main class="flex flex-col h-screen">
    {% include "workspace/_chat_center.html" %}
  </main>
  <aside class="border-l border-[#e5e3df] p-4 overflow-y-auto">
    {% include "workspace/_sidebar_right.html" %}
  </aside>
</div>
{% include "workspace/_new_manuscript_modal.html" %}
{% endblock %}
